* {
  margin: 0;
  padding: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid red;
}

body {
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  width: 100%;
  height: 100%;
}

nav, footer {
  width: 100%;
  height: 10%;
  display: flex;
}

.logo {
  height: 50px;
  width: 50px;
}

main, .dashboard-pending-trips, .dashboard-present-trips, .dashboard-future-trips, .dashboard-past-trips {
  border: 2px solid black;
}

.dashboard {
  width: 100%;
  height: 80%;
  /* background-image: url('./images/dashboard-background.jpg');  */
  /*This line is causing problems.*/
}